$dkblue: #285886;
$blue: #477197;
$ltblue: #d8e1e9;
$ebgreen: #b4c22f;

$black: #333;
$white: #fff;

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

.nopad {
	padding-left: 0px;
	padding-right: 0px;
}

.margin-center {
	margin-left: auto;
	margin-right: auto;
}

.no-wrap {
	white-space: nowrap;
}

html,
body{
    background: $white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: $black;
	font-size: 16px;
	line-height: 1.4;
}

h1{
    margin: 0 0 1em 0;
    color: $dkblue;
    font-size: 1.45em;
}

h2{
    color: $dkblue;
    font-weight: normal;
    font-size: 1.3em;
}

a{
    color: $dkblue;
}


#page-wrapper {
	max-width: none;
}


#header-wrapper {
	background-color: $dkblue;
	color: $white;
	height: 225px;
}

#header {
	@extend .margin-center;
	max-width: 1025px;
}

#logo {
	text-align: center;
}

#header #logo img, #footer #footer-logo img {
	max-width: 225px;	
}


#header-phone {
	text-align: right;
	font-size: 1.5em;
	padding-top: 80px;
	
	a {
		color: $white;
		text-decoration: none;
	}
}



#hero {
	position: relative;
	height: 450px;
	background-color: $ltblue;
}

.hero-back {
	background-image: url('/busstop/sites/all/themes/busstop/images/backgrounds/bus-hero-1.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	// background-size: 863px 493px;
	background-size: 788px 450px;
}

.hero-noback {
	background-image: none;
}

#iframe-container {
	width: 100%;
	overflow: hidden;
	position: absolute;
	height: 409px;
	z-index: 1;
}


.video {
	display: none;
	width: 716px;
	height: 409px;
	position: relative;
	left: 50%;
	margin-left: -358px;
}





#phone-mobile {
	background-color: $blue;
	text-align: center;
	color: $white;
	font-size: 1.3em;
	padding-top: 5px;
	padding-bottom: 5px;
	
	a {
		color: $white;
		text-decoration: none;
	}
}


#main-wrapper {

	@extend .margin-center;
	margin-top: 25px;
	margin-bottom: 25px;
	max-width: 1025px;
	
}


#webform-mobile {
	width: 75%;
	max-width: 280px;
}

#webform-desktop, #webform-tablet {
	width: 280px;
}

#webform-mobile, #webform-desktop {
	@extend .margin-center;
}

#webform-tablet {
	display: none;
	position: absolute;
	z-index: 10;
	left: 66%;
	margin-left: 15px;
	height: 450px;
}

#webform-mobile, #webform-desktop, #webform-tablet {
	border: 2px solid $ebgreen;
	float: none;
	padding-right: 0px;
	padding-left: 0px;
	margin-bottom: 25px;
	background-color: $white;
	
	h2 {
		margin-top: 0px;
		margin-bottom: 0px;
		color: $white;
		font-weight: bold;
		background-color: $ebgreen;
		text-align: center;
		padding: 25px 20px;
	}
	
	form {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.form-control {
		@include border-radius(0);
		color: $black;
		border: 0px none $white;
		border-bottom: 1px solid $black;
		-webkit-box-shadow: none;
		box-shadow: none;
		padding: 6px 12px 6px 0px;
	}
	
	.webform-submit {
		@include border-radius(0);
		color: #fff;
		font-weight: bold;
		background-color: $dkblue;
		border: 0px none $dkblue;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 20px;
	}
}


#right {
	position: relative;
	z-index: 10;
}



#secondary-images {
	margin-top: 35px;

	#image-wrap {
		@extend .margin-center;
		width: 300px;
	}

	#secondary-1, #secondary-2, #secondary-3 {
		width: 300px;
		height: 236px;
	}
	
	#secondary-1 {
		display: inline-block;
		margin-right: 0px;
	}
	
	#secondary-2, #secondary-3 {
		display: none;
	}
	

}









#bottom-phone {
	background-color: $ebgreen;
	color: $white;
	text-align: center;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	
	a {
		color: $white;
		text-decoration: none;
		font-size: 1.2em;
	}
}

#footer-wrapper {
	background-color: $dkblue;
	height: 225px;
}

#footer {
	@extend .margin-center;
	max-width: 1028px;
	text-align: center;
	color: $white;
}

#footer-social {
	font-size: 1.2em;
	
	img {
		height: 25px;
		width: auto;
		padding-bottom: 3px;
	}
}

@media only screen and (min-width : 700px) {

	.video {
		position: static;
		margin-left: auto;
		margin-right: auto;
	}

}

@media only screen and (min-width : 768px) {

	#secondary-images {
	
		#image-wrap {
			width: 630px;
		}
		
		#secondary-1 {
			margin-right: 15px;
		}
		
		#secondary-2 {
			display: inline-block;
			margin-right: 0px;
		}
		
	}

}

@media only screen and (min-width : 992px) {

/*
	#node-1 {
		width: 992px;
	}
*/

	#iframe-container {
		height: 450px;
	}

	.video {
		width: 788px;
		height: 450px;
	}

	.right-novid {
		top: 0px;
		display: none;
	}
	
	#webform-tablet {
		display: block;
	}

	#phone-mobile {
		display: none;
	}

	#secondary-images {
	
		#image-wrap {
			width: 940px;
		}
	
		#secondary-2 {
			margin-right: 15px;
		}
		
		#secondary-3 {
			display: inline-block;
			margin-right: 0px;
		}
		
	}
	
	#footer {
		text-align: left;
	}

	#footer-social {
		text-align: right;
		padding-top: 130px;
	}

}

@media only screen and (min-width : 1200px) {

	#node-1 {
		width: auto;
	}
	
	#webform-tablet {
		display: none;
	}
	
	.right-novid {
		top: -150px;
		display: block;
	}

	#secondary-images {
		margin-top: -75px;
	}

}

.right-playvid {
	top: 0px;
	display: block;
}

