.nopad {
  padding-left: 0px;
  padding-right: 0px; }

.margin-center, #header, #main-wrapper, #webform-mobile, #webform-desktop, #secondary-images #image-wrap, #footer {
  margin-left: auto;
  margin-right: auto; }

.no-wrap {
  white-space: nowrap; }

html,
body {
  background: #fff;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.4; }

h1 {
  margin: 0 0 1em 0;
  color: #285886;
  font-size: 1.45em; }

h2 {
  color: #285886;
  font-weight: normal;
  font-size: 1.3em; }

a {
  color: #285886; }

#page-wrapper {
  max-width: none; }

#header-wrapper {
  background-color: #285886;
  color: #fff;
  height: 225px; }

#header {
  max-width: 1025px; }

#logo {
  text-align: center; }

#header #logo img, #footer #footer-logo img {
  max-width: 225px; }

#header-phone {
  text-align: right;
  font-size: 1.5em;
  padding-top: 80px; }
  #header-phone a {
    color: #fff;
    text-decoration: none; }

#hero {
  position: relative;
  height: 450px;
  background-color: #d8e1e9; }

.hero-back {
  background-image: url("/busstop/sites/all/themes/busstop/images/backgrounds/bus-hero-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 788px 450px; }

.hero-noback {
  background-image: none; }

#iframe-container {
  width: 100%;
  overflow: hidden;
  position: absolute;
  height: 409px;
  z-index: 1; }

.video {
  display: none;
  width: 716px;
  height: 409px;
  position: relative;
  left: 50%;
  margin-left: -358px; }

#phone-mobile {
  background-color: #477197;
  text-align: center;
  color: #fff;
  font-size: 1.3em;
  padding-top: 5px;
  padding-bottom: 5px; }
  #phone-mobile a {
    color: #fff;
    text-decoration: none; }

#main-wrapper {
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 1025px; }

#webform-mobile {
  width: 75%;
  max-width: 280px; }

#webform-desktop, #webform-tablet {
  width: 280px; }

#webform-tablet {
  display: none;
  position: absolute;
  z-index: 10;
  left: 66%;
  margin-left: 15px;
  height: 450px; }

#webform-mobile, #webform-desktop, #webform-tablet {
  border: 2px solid #b4c22f;
  float: none;
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 25px;
  background-color: #fff; }
  #webform-mobile h2, #webform-desktop h2, #webform-tablet h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    font-weight: bold;
    background-color: #b4c22f;
    text-align: center;
    padding: 25px 20px; }
  #webform-mobile form, #webform-desktop form, #webform-tablet form {
    padding-left: 20px;
    padding-right: 20px; }
  #webform-mobile .form-control, #webform-desktop .form-control, #webform-tablet .form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    color: #333;
    border: 0px none #fff;
    border-bottom: 1px solid #333;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 6px 12px 6px 0px; }
  #webform-mobile .webform-submit, #webform-desktop .webform-submit, #webform-tablet .webform-submit {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
    background-color: #285886;
    border: 0px none #285886;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px; }

#right {
  position: relative;
  z-index: 10; }

#secondary-images {
  margin-top: 35px; }
  #secondary-images #image-wrap {
    width: 300px; }
  #secondary-images #secondary-1, #secondary-images #secondary-2, #secondary-images #secondary-3 {
    width: 300px;
    height: 236px; }
  #secondary-images #secondary-1 {
    display: inline-block;
    margin-right: 0px; }
  #secondary-images #secondary-2, #secondary-images #secondary-3 {
    display: none; }

#bottom-phone {
  background-color: #b4c22f;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px; }
  #bottom-phone a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em; }

#footer-wrapper {
  background-color: #285886;
  height: 225px; }

#footer {
  max-width: 1028px;
  text-align: center;
  color: #fff; }

#footer-social {
  font-size: 1.2em; }
  #footer-social img {
    height: 25px;
    width: auto;
    padding-bottom: 3px; }

@media only screen and (min-width: 700px) {
  .video {
    position: static;
    margin-left: auto;
    margin-right: auto; } }

@media only screen and (min-width: 768px) {
  #secondary-images #image-wrap {
    width: 630px; }
  #secondary-images #secondary-1 {
    margin-right: 15px; }
  #secondary-images #secondary-2 {
    display: inline-block;
    margin-right: 0px; } }

@media only screen and (min-width: 992px) {
  /*
	#node-1 {
		width: 992px;
	}
*/
  #iframe-container {
    height: 450px; }
  .video {
    width: 788px;
    height: 450px; }
  .right-novid {
    top: 0px;
    display: none; }
  #webform-tablet {
    display: block; }
  #phone-mobile {
    display: none; }
  #secondary-images #image-wrap {
    width: 940px; }
  #secondary-images #secondary-2 {
    margin-right: 15px; }
  #secondary-images #secondary-3 {
    display: inline-block;
    margin-right: 0px; }
  #footer {
    text-align: left; }
  #footer-social {
    text-align: right;
    padding-top: 130px; } }

@media only screen and (min-width: 1200px) {
  #node-1 {
    width: auto; }
  #webform-tablet {
    display: none; }
  .right-novid {
    top: -150px;
    display: block; }
  #secondary-images {
    margin-top: -75px; } }

.right-playvid {
  top: 0px;
  display: block; }
